/**
 * Copyright (c) 2024 SYSTech Co.
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	ramdisk0 {
		compatible = "zephyr,ram-disk";
		disk-name = "RAM";
		sector-size = <512>;
		sector-count = <128>;
	};
};

&mmc0 {
	status = "okay";
	non-removable;

	usr {
		compatible = "zephyr,mmc-disk";
		status = "okay";
		bus-width = <4>;
		disk-name = "MMC";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			lfs0_partition: partition@0 {
				label = "lfs0";
				reg = <0x00000000 0x08000000>;
			};

			lfs1_partition: partition@8000000 {
				label = "lfs1";
				reg = <0x08000000 0x08000000>;
			};
		};
	};
};

&gpio1 {
	status = "okay";
};

&ethernet0 {
	status = "okay";
	local-mac-address = [00 80 E1 00 00 00];
};
