#
# Copyright (c) 2021 Weidmueller Interface GmbH & Co. KG
# Copyright (c) 2024 SYSTech Co.
# SPDX-License-Identifier: Apache-2.0
#
#

config SOC_SERIES_FMSH_FMQL
	select ARM
	select CPU_CORTEX_A7
	select SYSCON
	select ARM_ARCH_TIMER_ERRATUM_740657 if ARM_ARCH_TIMER
	select CLOCK_CONTROL
