#
# Copyright (c) 2021 Weidmueller Interface GmbH & Co. KG
# Copyright (c) 2024 SYSTech Co.
# SPDX-License-Identifier: Apache-2.0
#

if SOC_SERIES_FMSH_FMQL

# Zephyr does not support SMP on aarch32 yet, so we default to 1 CPU core
# TODO: disable SMP for debug purposes.
config MP_MAX_NUM_CPUS
	default 1

endif # SOC_SERIES_FMSH_FMQL
