/*
 * Copyright (c) 2024 SYSTech Co.
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <freq.h>
#include <arm/armv7-a.dtsi>
#include <zephyr/dt-bindings/interrupt-controller/arm-gic.h>
#include <zephyr/dt-bindings/clock/fmsh_psoc_clock.h>

/ {

	soc {
		interrupt-parent = <&gic>;

		ocm_low: memory@20000 {
			compatible = "zephyr,memory-region", "xlnx,zynq-ocm";
			reg = <0x00020000 DT_SIZE_K(256)>;
			zephyr,memory-region = "OCM_LOW";
		};

		ocm_high: memory@e1fe0000{
			compatible = "zephyr,memory-region", "xlnx,zynq-ocm";
			reg = <0xe1fe0000 DT_SIZE_K(128)>;
			zephyr,memory-region = "OCM_HIGH";
		};

		gic: interrupt-controller@f8901000 {
			compatible = "arm,gic-v1", "arm,gic";
			status = "okay";
			reg = <0xf8901000 0x1000>,
				<0xf8902000 0x100>;
			interrupt-controller;
			#interrupt-cells = <4>;
		};

		uart0: serial@e0004000 {
			compatible = "ns16550";
			clocks = <&clkc CLKID_UART0>;
			clock-names = "uart0";
			reg = <0xE0004000 0x1000>;
			interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			interrupt-names = "irq_0";
			reg-shift = <2>;
			// reg-io-width = <4>;
			// u-boot,dm-pre-reloc;
			status = "disabled";
		};

		uart1: serial@e0023000 {
			compatible = "ns16550";
			clocks = <&clkc CLKID_UART1>;
			clock-names = "uart1";
			reg = <0xE0023000 0x1000>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			interrupt-names = "irq_0";
			reg-shift = <2>;
			// reg-io-width = <4>;
			// u-boot,dm-pre-reloc;
			status = "disabled";
		};

		gpio0: gpio@e0003000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-gpio";
			// clocks = <&clkc NCLK_APB_GPIO>;
			reg = <0xe0003000 0x100>;
			interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			gpio-controller;
			ngpios = <32>;
			#gpio-cells = <2>;
			// line-name = "porta";
			status = "disabled";
		};

		gpio1: gpio@e0003100 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-gpio";
			// clocks = <&clkc NCLK_APB_GPIO>;
			reg = <0xe0003100 0x100>;
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			gpio-controller;
			ngpios = <22>;
			#gpio-cells = <2>;
			// line-name = "portb";
			status = "disabled";
		};

		gpio2: gpio@e0003200 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-gpio";
			// clocks = <&clkc NCLK_APB_GPIO>;
			reg = <0xe0003200 0x100>;
			interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			gpio-controller;
			ngpios = <32>;
			#gpio-cells = <2>;
			status = "disabled";
		};

		gpio3: gpio@e0003400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-gpio";
			// clocks = <&clkc NCLK_APB_GPIO>;
			reg = <0xe0003400 0x100>;
			interrupts = <GIC_SPI 38 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			gpio-controller;
			ngpios = <32>;
			#gpio-cells = <2>;
			status = "disabled";
		};


		arch_timer: timer@e0008000 {
			compatible = "arm,armv8-timer";
			reg = <0xE0008000 0x1000>;
			interrupts =
				<GIC_PPI 13 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>,
				<GIC_PPI 14 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>,
				<GIC_PPI 11 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>,
				<GIC_PPI 10 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			// clock-frequency = <15000000>; // 15MHz
			// not supported: arm,cpu-register-not-fw-configured;
		};

	};

	slcr: slcr@e0026000 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "fmsh,psoc-slcr", "syscon";
		reg = <0xe0026000 0x1000>;

		ranges;

		clkc: clkc@100 {
			compatible = "fmsh,psoc-clkc";
			reg = <0x100 0x100>;
			#clock-cells = <1>;
			ps-clk-frequency = <33333333>;
			status = "okay";
		};

		pinctrl0: pintrl@700 {
			compatible = "xlnx,pinctrl-zynq";
			reg = <0x700 0x200>;
			syscon = <&slcr>;
		};
	};
};
