# Copyright (c) 2025 SYSTech Co.
# SPDX-License-Identifier: Apache-2.0

config MCB_SYSTECH
		bool "Systech MCB driver"
		default y
		depends on DT_HAS_SYSTECH_MCB_ENABLED
		help
			Enable Systech MCB driver.

config MCB_SYSTECH_BUFFER_MAX_LENGTH
		int "length of tx&rx buffer"
		default 2000
		depends on MCB_SYSTECH
		help
			Limit of the max buffer length.

config MCB_SYSTECH_HW_WORKAROUND
		bool "HW temporary solution"
		default y
		depends on MCB_SYSTECH
		help
			This is for HW workaround solutions

config MCB_SYSTECH_BUFFER_ALIGN
		int "tx&rx buffer align size"
		default 4
		depends on MCB_SYSTECH
		help
			This is for HW design limitation, once 8-bit write
			is supported, you can change it to 1.
